*{
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

.navbar{
    height: 60px;
    width: 100%;
    background-color: #131A22;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.nav-logo{
    background-image: url(img/amazon_logo.png);
    height: 50px;
    width: 100px;
    background-size:cover ;
}

.nav-address2{
    display: flex;
    align-content: center;
}
#address{
    color: rgb(199, 196, 196);
    font-size: 12px;
    margin-left: 25px;
    
}
#address2{
    font-size: 14px;
    font-weight: bolder;
    display: inline-block;
    gap: 0px;
    margin-right:10px ;
}
.nav-search{
    display: flex;
    width: 660px;
    height: 40px;
    border-radius: 4px;
}

#select{
    width: 50px;
    height: 38px;
    align-items: center;
    text-align: center;
    border-top-left-radius: 4px;
    border-bottom-left-radius:4px ;
    border: none;
    background-color: rgb(243, 243, 243);
}
#search{
    height: 38px;
    width:100%;
    border: none;
    font-size: 15px;
}

#search-icon{
    width: 40px;
    height: 38px;
    display: flex; 
    align-items: center;
    justify-content: center;
    background-color: rgb(255, 196, 0);
    font-size: 20px;
    border-top-right-radius: 4px;
    border-bottom-right-radius:4px ;
    color: #232F3E;
}

.nav-search:hover{
    border: 1.5px solid orange;
}

#login-p1{
    font-size: 12px;
}
#login-p2{
    font-size: 14px;
    font-weight: bolder;
}

.nav-cart{
    display: flex;
    align-items: baseline;
    font-weight: bolder;
    font-size: 18px;
}
#cart{
    font-size: 35px;
}

.panel{
    background-color: #232F3E;
    height: 50px;
    color: white;
    display: flex;
    align-items: center;
    gap: 40px;
}
#panel-icon{
    font-weight: bolder;
}
.all{
     margin-left:20px ;
     padding: 2px;
}
.all a{
    color: white;
    text-decoration: none;
    font-weight: bolder;
    
}
.sixtha{
    margin-left: 700px;
    padding: 7px;
    font-weight: bolder;
}

.anchor{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 35px;
}

.hero-sec{
    height: 500px;
    width: 100%;
    background-image: url(img/hero_image.jpg);
    background-size: cover;
    display: flex;
    align-items: center;
}
.hero-statment{
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px;
    margin-top: 350px;
    padding: 15px;
    width: 100%;
}

.hero-statment a{
    color: rgb(0, 123, 255);
    text-decoration: none;
}
.hero-statment a:hover{
    text-decoration: underline;
}
.box{
    height: 480px;
    width: 22%;
    background-color: white;
    padding: 20px;
    margin: 25px;
    
}
.shop{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(193, 212, 202);
}
.a{
    display: flex;
    padding-top: 20px;
    text-decoration: none;
}
.a:hover{
    text-decoration: underline;
}
.box1-img{
    background-image: url(img/box1_image.jpg);
    height: 80%;
    margin-top: 15px;
}
.box2-img{
    background-image: url(img/box2_image.jpg);
    height: 80%;
    margin-top: 15px;
}
.box3-img{
    background-image: url(img/box3_image.jpg);
    height: 80%;
    margin-top: 15px;
}
.box4-img{
    background-image: url(img/box4_image.jpg);
    height: 80%;
    margin-top: 15px;
}
.box5-img{
    background-image: url(img/box5_image.jpg);
    height: 80%;
    margin-top: 15px;
}
.box6-img{
    background-image: url(img/box6_image.jpg);
    height: 80%;
    margin-top: 15px;
}
.box7-img{
    background-image: url(img/box7_image.jpg);
    height: 80%;
    margin-top: 15px;
}
.box8-img{
    background-image: url(img/box8_image.jpg);
    height: 80%;
    margin-top: 15px;
}
.panel-1{
    color: white;
    font-size: 14px;
    background-color:#2e3c4d;
    display: flex;
    justify-content: center;
    padding: 15px;
    padding: 20px;
}
.panel-2{
    background-color: #232F3E;
    height: 600px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: top;
    justify-content: space-evenly;
    padding: 10%;
    gap: 10%;
}
.pbox p{
    font-weight: bolder;
    font-size: 18px;
    
}
.pbox-a{
    color: white;
    text-decoration: none;
    display: flex;
}
.panel-3{
    background-color:#232F3E;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-top: 0.1px solid white;
}
.panel3-logo{
    background-image: url(img/amazon_logo.png);
    background-size: cover;
    height: 70px;
    width: 140px;
}
.p3-opt1{
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    gap: 5px;
    border: 2px solid white;
    border-radius: 4px;
    padding: 8px;
}
.p3-opt1 a{
    background-color:rgb(41, 41, 41);
    text-decoration: none;
    color: white;
    display: flex;
    justify-content: center;
}
.p3-opt2{
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    border: 2px solid white;
    border-radius: 4px;
    padding: 8px;
}
.p3-opt2 a{
    background-color:rgb(41, 41, 41);
    text-decoration: none;
    color: white;
}

.panel-4{
    background-color: #131A22;
}
.pages{
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.pages a:hover{
    text-decoration: underline;
}
.pages a{
    font-size: 14px;
    text-decoration: none;
    color: white;
}
.last-panel-p{
    font-size: 12px;
    display: flex;
    justify-content: center; 
    align-items:center;
    color: white;
}

.border{
    border: 1.5px solid transparent;
}
.border:hover{
    border: 1.5px solid white;
    border-radius: 2px;
}
